														eventClick: function(calEvent, jsEvent, view) {

													//display a modal
																var modal = 
													'<div class="custom-modal modal fade">\
													  <div class="modal-dialog">\
													   <div class="modal-content">\
														 <div class="modal-body">\
														   <button type="button" class="close" data-dismiss="modal" style="margin-top:-10px;">&times;</button>\
														   <form class="no-margin">\
															  <label>Change event name &nbsp;</label>\
															  <input class="middle" autocomplete="off" type="text" value="' + calEvent.title + '" />\
															 <button type="submit" class="btn btn-sm btn-success"><i class="ace-icon fa fa-check"></i> Save</button>\
														   </form>\
														 </div>\
														 <div class="modal-footer">\
															<button type="button" class="btn btn-sm btn-danger" data-action="delete"><i class="ace-icon fa fa-trash-o"></i> Delete Event</button>\
															<button type="button" class="btn btn-sm" data-dismiss="modal"><i class="ace-icon fa fa-times"></i> Cancel</button>\
														 </div>\
													  </div>\
													 </div>\
													</div>';
												
												
													var modal = $(modal).appendTo('body');
													modal.find('form').on('submit', function(ev){
														ev.preventDefault();
										
														calEvent.title = $(this).find("input[type=text]").val();
														calendar.fullCalendar('updateEvent', calEvent);
														modal.modal("hide");
													});
													modal.find('button[data-action=delete]').on('click', function() {
														calendar.fullCalendar('removeEvents' , function(){
														     console.log('calling ajax')
														     alert('calling ajax')
															
												      		 $.ajax('/events/remove_event', { 
																	method: 'post',
																	dataType : "html",	
													 				data :  { event_id : calEvent._id, csrfmiddlewaretoken: '{{ csrf_token }}'}, 
																		
													 				success: 	function(transport_calender_html) {
													 								alert('caling notify')
																					//console.log(transport_calender_html);
																					//alert(transport_calender_html)
																					$(".pos-demo").notify(
																							transport_calender_html,
																							{position:"right"}
																						
																						);
																				},

																	error : function(xhr,errmssg,transport_html) {
																		console.log('Failure');
																		console.log(transport_calender_html);
																		console.log(errmssg);

																		}
															}); // end new Ajax.Request

														})
														modal.modal("hide");
														modal.remove();
													});
													
													modal.modal('show').on('hidden' ,'.custom-modal' , function(){
														$(this).remove();
														modal.remove();
													});

	
														}