
<li class="light-blue"><a data-toggle="dropdown" href="#"
	class="dropdown-toggle"> <span class="user-info"> <small>Select
				Company,</small> {{ org_name }}
	</span> <i class="ace-icon fa fa-caret-down"></i>
</a>

	<ul
		class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
		{% for comp in Company_list %}

		<li><a href="/stax/set_company/{{ comp }}"> <i
				class="ace-icon fa fa-cog"></i> {{ comp }}
		</a></li> {% endfor %}

	</ul>
</li>