{% extends "unify/__table_view.html" %}

{% load form_custom %}
{% load i18n %}



{% block Style_sheets %}
	
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css">
	<!--[if lt IE 9]><link rel="stylesheet" href="assets/plugins/sky-forms-pro/skyforms/css/sky-forms-ie8.css"><![endif]-->
	

{% endblock Style_sheets %}


{% block Java_Scripts %}
	<script type="text/javascript" src="/static/assets_u/plugins/back-to-top.js"></script>
	<script type="text/javascript" src="/static/assets_u/plugins/smoothScroll.js"></script>
	<script src="/static/assets_u/plugins/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js"></script>
	<script src="/static/assets_u/plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
	<script src="/static/assets_u/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
	<script src="/static/assets_u/plugins/sky-forms-pro/skyforms/js/jquery.form.min.js"></script>
	<script src="http://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="/static/js/bootbox.min.js"></script>
	
	

	

	
	<script type="text/javascript">
		jQuery(document).ready(function() {
			
			//$('#Table_list').DataTable();
			
			var oTable = $('#Table_list').DataTable({
				"fnDrawCallback":function(oSettings){
					
					  $('.more_button').click(function() {
						    alert($(this).attr('value'));
						  });
						  
						  $('.edit_button').click(function() {
							  	var instance = $(this).attr('value');
							  	window.location.href = "/irm/edit_panel_member/"+instance
							  });
						  
						  $('.delete_button').click(function() {
		  				  	  	  agency_id = $(this).attr('value')							 
							      bootbox.confirm("Are you sure you want to deactivate Member ID " + agency_id + " ?" , function(result) {
							    	  $.ajax('/IRM/deactivate_panel_member/'+agency_id, { 
											type: 'POST',
											dataType : "html",	
											data :  { csrfmiddlewaretoken: '{{ csrf_token }}'}, 
																												
											success: 	function(get_record_html) {
																											
												$('#alert-2').replaceWith(get_record_html)
												location.reload();	
												 },

											error : function(xhr,errmssg,transport_html) {
												console.log('Failure');
												console.log(transport_html);
												console.log(errmssg);
													}
												}); // end new Ajax.Request
								  
								     }); 
							  }); 
				}
				});

		});
	</script>
	
{% endblock Java_Scripts %}


{% block Form %}
					<div id="alert-2"></div>
					<br><br>

					<div class="panel panel-grey margin-bottom-40">
						<div class="panel-heading">
							<h3 class="panel-title"><i class="fa fa-globe"></i> Panel Members List </h3>
						</div>
						<div class="panel-body">
							<table id='Table_list' class="table table-bordered">
								<thead>
									<tr>
										<th>Contact ID</th>
										<th class="hidden-sm">Full Name</th>
										<th>Status</th>
										<th>Ethnicity</th>
										<th>Panel_Role</th>
										<th>Work Town</th>
										<th>Home Town</th>
										<th>Contact(phone,mobile)</th>
										<th>E-mail</th>	
										<th>Actions</th>							
									</tr>
								</thead>
								<tbody>
							
								{% for Contact in Contact_list %}
									<tr>
										<td>{{Contact.id}}</td>
										<td>{{Contact.Firstname}} {{Contact.Surname }}</td>		
										<th>{{Contact.Status }}</th>					
										<td>{{Contact.Ethnicity }}</td>
										<td>{{Contact.Panel_Role}}</td>	
										<td>{{Contact.Work_Town}}</td>	
										<td>{{Contact.Home_Town}}</td>	
										<td>{{Contact.Work_Phone}}, {{Contact.Mobile }}</td>
										<td><a href="{{Contact.Email}}" target="_top">{{Contact.Email}}</a></td>
										<td>
											<button class="btn btn-warning btn-xs edit_button" value={{Contact.id}}><i class="fa fa-pencil"></i>View/Edit</button>
											<button class="btn btn-danger btn-xs delete_button" value={{Contact.id}}><i class="fa fa-trash-o"></i>Disable</button>
										</td>						
									</tr>
								{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
					<!--End Table Bordered-->

					<div class="margin-bottom-60"></div>						

{% endblock Form %}